@import url('reset.css');

* {
    font-family: 'Roboto', sans-serif;
}

.left-col {
    width: 25%;
    float: left;
}

.right-col {
    width: 75%;
    padding: 0 30px;
}

button {
    background: none;
    border: none;
    padding: 0;
}

button:focus {
    outline: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

header {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    background-color: #2873E3;
    box-sizing: border-box;
    height: 62px;
    padding-top: 14px;
}

header * {
    vertical-align: middle;
}

header button {
    font-size: 1.2em;
    color: rgba(255, 255, 255, .5);
}

header button:hover {
    color: white;
}

.logo {
    font-family: 'Lobster', cursive;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .1);
    font-size: 26px;
    color: white;
    margin-left: 30px;
}

input[name="search"] {
    color: rgba(255, 255, 255, .5);
    vertical-align: middle;
    font-size: 16px;
    
    background-color: rgba(255, 255, 255, .1);
    padding: 7px 36px 7px 16px;
    border-radius: 4px;
    width: 360px;
    height: 32px;
    border: none;
}

input[name="search"]:focus {
    background-color: rgba(255, 255, 255, .15);
    color: white;
    outline: none;
}

input[name="search"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5);
}

button[name="search-btn"] {
    position: relative;
    right: 32px;
}

main {
    margin-top: 28px;
}

aside ul li {
    display: block;
    height: 36px;
}

aside ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, .75);
}

.active {
    color: #307EF2;
    background-color: white;
}

nav a i {
    vertical-align: middle;
}