@import url('reset.css');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F9F9F9;
}

.wrap {
    margin: 0 auto;;
    max-width: 908px;
}

.left-col {
    width: 25%;
    float: left;
}

.right-col {
    width: 75%;
    float: left;
}

header {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    background-color: #2873E3;
    box-sizing: border-box;
    height: 62px;
    overflow: hidden;
    white-space: nowrap;

}

header h1 {
    display: inline-block;
    font-family: 'Lobster', cursive;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .1);
    font-size: 26px;
    color: white;
    margin-left: 30px;
    position: relative;
    top: 16px;
}

header .search-box {
    display: inline-block;
    position: relative;
    bottom: 3px;
    margin-right: 23px; 
}

.search-box i {
    color: rgba(255, 255, 255, .5);
    position: absolute;
    right: 10px;
    bottom: 9px;
}

input[name="search"] {
    color: rgba(255, 255, 255, .5);
    vertical-align: middle;
    font-size: 16px;
    
    background-color: rgba(255, 255, 255, .1);
    padding: 7px 36px 7px 16px;
    border-radius: 4px;
    width: 360px;
    height: 32px;
    border: none;
}

input[name="search"]:focus {
    background-color: rgba(255, 255, 255, .15);
    color: white;
    outline: none;
}

input[name="search"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5);
}

header button {
    display: inline-block;
    height: 62px;
    width: 62px;
    font-size: 20px;
    color: rgba(255, 255, 255, .5);
}

header button:hover {
    color: white;
    background-color: #226CDB;
    cursor: pointer;
}

main {
    margin-top: 28px;
}

aside nav {
    padding: 16px 0;
    border-bottom: 1px solid #EDEDED;
}

aside nav:first-child {
    padding-top: 0;
}

nav ol li {
    height: 36px;
    margin-bottom: 10px;
    padding-left: 30px; 
    border-radius: 5px;
}

nav ol li:last-child {
    margin-bottom: 0;
}

nav ol li:hover {
    cursor: pointer;
}

nav ol li:not(.active):hover {
    background-color: #F1F1F1;
}

nav ol li:not(.active):hover a {
    color: black;
}

nav ol li a {
    color: rgba(0, 0, 0, .75);
    line-height: 36px;
    white-space: nowrap;
}

nav ol li a i {
    margin-right: 24px;
}

.active {
    background-color: white;
}

.active a {
    color: #2873E3;
}
